<%- include('./partials/head') %>
<%- include('./partials/nav') %>

<div class="container my-2 py-2">

<div class="d-flex h-100 text-center text-bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="container">
        <main class=" my-2 px-3">
            <div class="container">
                <div class="jumbo jumbotron-fluid">
                <h1 class="text-center">Welcome to instaPrayer</h1>
                    <h3>The place to send and recieve prayer</h3>
                </div>
                <p class="lead">
                    <a href="/prayer" class="btn btn-lg btn-primary fw-bold border-white bg-dark my-2 p-2">View Prayers
                    </a>
                </p>
                <img class="img-fluid h-75 w-75"
                    src="https://images.unsplash.com/photo-1543525238-54e3d131f7ca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJheWVyJTIwcm9vbXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60" alt="">
                <hr>
            </div>
        </main>
    </div>
</div>
</div>






<%- include('./partials/footer') %>